* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
}

.title {
    position: fixed;
    top: 5%;
    left: 36%;
}

.text {
    display: flex;
    align-items: center;
    padding-left: 25%;
    overflow-x: scroll;
    gap: 10vw;
}

.text > p {
    width: 50vw;
}

p {
    background: linear-gradient(
        90deg,
        rgba(90, 64, 18) 0%,
        rgb(158, 113, 36) 25%,
        rgba(237, 218, 137, 0.8) 50%,
        rgb(158, 113, 36) 75%,
        rgba(90, 64, 18) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.navigation {
    position: fixed;
    bottom: 3%;
    left: 42.3%;
}

@media (max-width: 1080px) {
    .navigation {
        left: 36%;
    }
}
