body {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background: radial-gradient(
            circle at 90% 90%,
            rgb(255, 198, 167),
            transparent 40%
        ),
        radial-gradient(circle at 15% 20%, rgb(255, 198, 167), transparent 35%),
        radial-gradient(circle at 60% 30%, rgb(255, 198, 167), transparent 35%),
        radial-gradient(circle at 85% 10%, rgb(255, 198, 167), transparent 25%),
        radial-gradient(circle at 35% 75%, rgb(255, 198, 167), transparent 45%),
        radial-gradient(circle at 50% 90%, rgb(255, 198, 167), transparent 15%),
        radial-gradient(circle at 20% 70%, rgb(255, 152, 97), transparent 15%),
        radial-gradient(circle at 50% 20%, rgb(255, 152, 97), transparent 25%),
        radial-gradient(circle at 10% 80%, rgb(255, 152, 97), transparent 50%),
        radial-gradient(circle at 70% 70%, rgb(255, 152, 97), transparent 45%);
}

.home-icon {
    color: #ffc6a7;
}

.stoop-comments > li > div {
    background-color: #ff9861;
    background-color: rgb(255, 152, 97);
}

#show-stoop {
    background-color: #ffc6a7;
}
